__pycache__/
*.py[cod]
*$py.class

venv/
.env
.env.*

.ipynb_checkpoints/

*.sqlite3
*.db

*.pkl
*.joblib

.DS_Store

.vscode/

*.log

temp/
tmp/
screenshots_temp/

build/
dist/
*.egg-info/

.cache/
pytest_cache/
.mypy_cache/

Thumbs.db

node_modules/

*.csv
*.xlsx

.idea/

*.zip